build.number
*.class
*/target/*
target
plugin

# Package Files #
*.war
*.ear

# Eclipse IDE files
*.classpath
*.project
.settings/
*.prefs

# IntelliJ IDEA files
*.iml
.idea/

# ORIENTDB_HOME directories
*/config/*
*/lib/*

tests/src/test/java/com/orientechnologies/orient/test/database/auto/_*.xml
.gitignore
